/* RESET */
/* source: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* * {
    border: 0.5px solid red;
} */

/* NAVIGATION */

nav.container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 0 24px;
}

nav .item {
    display: inline-block;
}

nav .item img {
    height: 32px;
    float: left;
}

nav .item span {
    display: inline-block;
    height: 32px;
    font-size: 14px;
    padding-top: 7px;
    margin-left: 3px;
}

#logo span {
    font-family: 'Roboto', sans-serif;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 100;
}

#logo span strong {
    font-weight: 700;
}

/* NAVIGATION.desktop */
@media only screen and (min-width: 591px) {
    #logo {
        margin-right: auto;
    }
    nav .item {
        margin-left: 16px;
    }
    nav .item img {
        display: none;
    }
    #logo img {
        display: block;
    }
}

/* NAVIGATION.mobile */
@media only screen and (max-width: 590px) {
    nav .item span {
        display: none;
    }
}


/* MAIN */
main .main-row {
    text-align: center;
}

main .main-row .main-container {
    display: inline-block;
}

/* BANNER */
#banner {
    background-color: lightgray;
}

#banner .row {
    display: flex;
    max-width: 1100px;
}

#banner .col {
    display: flex;
    max-width: 1100px;
    padding: 32px 0;
}

#banner .left.col {
    flex-basis: 60%;
    padding-left: 24px;
    padding-right: 24px;
}

#banner .left.col img {
    height: 100%;
    width: 100%;
}

#banner .right.col {
    /* background-color: seagreen; */
    padding-left: 0px;
    padding-right: 24px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #595959;
    text-align: left;
}

#banner .right.col h1 {
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

#banner .right.col p {
    margin: 0 0 10px;
    padding: 0;
}

#banner .right.col a {
    text-align: center;
    /* margin: 0 0 10px; */
    margin: 5px 24px 0 0;
    padding: 8px;
    color: white;
    background-color: black;
}

#banner .right.col a:hover {
    background-color: darkslateblue;
}

/* NAVIGATION.mobile */
@media only screen and (max-width: 590px) {
    #banner .left.col {
        display: none;
    }

    #banner .right.col {
        flex-basis: 100%;
        padding-left: 24px;
    }
}